<!DOCTYPE html>
<html>
  <head>
    <title>Bintami UI Foundations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700|Source+Sans+Pro:400,600"
      rel="stylesheet">
    <link href="<%- root %>assets/favicon.png" rel="icon">
    <link href="<%- root %>assets/css/highlight/okadia.css" rel="stylesheet">
    <link href="<%- root %>assets/css/theme.css" rel="stylesheet">
    <link href="<%- root %>assets/css/customizations.css" rel="stylesheet">
    <link href="<%- root %>bitnami.ui.css" rel="stylesheet">
  </head>
<body>
  <div class="aigis-container">
    <%- include('sidemenu') %>
    <div class="aigis-contents">
      <div class="aigis-contents__body">
        <% if(components.length) { %>
          <%- include('components') %>
        <% } else if (html.length) { %>
          <%- html %>
        <% } else { %>
          <div class="readme">
            <%- include('readme') %>
          </div>
        <% } %>
        <footer class="aigis-footer">Bitnami UI</footer>
      </div>
    </div>
  </div>
</body>
</html>
