<!DOCTYPE html>
<html>
  <head>
    <title>Bitnami Pattern Lib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700|Hind:300,400,700" rel="stylesheet">
    <link href="<%- root %>assets/favicon.png" rel="icon">
    <link href="<%- root %>assets/css/customizations.css" rel="stylesheet">
    <link href="<%- root %>assets/css/highlight/hljs.css" rel="stylesheet">
    <link href="<%- root %>assets/css/highlight/okadia.css" rel="stylesheet">
    <link href="<%- root %>bitnami.ui.components.css" rel="stylesheet">
    <link href="<%- root %>bitnami.ui.css" rel="stylesheet">
    <script src="<%- root %>assets/js/prism.js" data-manual></script>
    <script src="<%- root %>assets/js/all.js"></script>
    <script src="<%- root %>bitnami.ui.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <%- include('menu') %>
      <% if(components.length) { %>
        <%- include('components') %>
      <% } else if (html.length) { %>
        <%- html %>
      <% } else { %>
        <div class="container">
          <%- include('readme') %>
        </div>
      <% } %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
