<div class="aigis-sidemenu">
  <header class="aigis-header">
    <a href="<%- root %>index.html">
      <img src="<%- root %>assets/images/logo.png" alt="Bitnami's logo" />
      <h4 class="margin-t-reset">Bitnami UI</h4>
    </a>
  </header>
  <h2 class="aigis-sidemenu__heading">Categories</h2>
  <nav class="aigis-categoryList">
    <%- helper.renderCollectionTree('category') %>
  </nav>
  <h2 class="aigis-sidemenu__heading">Tags</h2>
  <nav class="aigis-tags aigis-tagList">
    <% config.collection.tag.forEach(function(tag) { %>
      <a class="aigis-tags__item aigis-tags__item--<%- tag %>" href="<%- root %>tag/<%- tag %>/index.html"><%- tag %></a>
    <% }) %>
  </nav>
  <h2 class="aigis-sidemenu__heading"><a href="<%- root %>color.html">Project Colors</a></h2>
</div>
